Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, shfmt, stylua

.pre-commit-config.yaml:

repos:
  - repo: local 
    hooks:
      - id: alejandra
        name: Alejandra (Nix formatter)
        description: This hook checks Nix files with Alejandra.
        entry: bash -c 'for arg in "$@"; do nix-shell -p alejandra --run "alejandra -q $arg"; done;' --
        language: system
        files: \.nix$
      - id: shfmt
        name: Sh (Shell formatter)
        description: This hook checks shell files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix-shell -p shfmt --run "shfmt -w $arg"; done;' --
        language: system
        files: ^install$
      - id: stylua
        name: Stylua (Lua formatter)
        description: This hook checks Lua files with Stylua.
        entry: bash -c 'for arg in "$@"; do nix-shell -p stylua --run "stylua $arg"; done;' --
        language: system
        files: \.lua$
      - id: gitleaks
        name: Gitleaks (Secret scanner)
        description: This hook checks the existence of secrets.
        entry: bash -c 'nix-shell -p gitleaks --run "gitleaks git --pre-commit --redact --staged --no-banner --verbose 2> /dev/null"'
        language: system
        pass_filenames: false

feat(install): use determinate nix install and generate unvX.nix.
  install
  unvX.nix
Due: alejandra, shfmt

fix(install): remove extra spaces.
  install
Due: shfmt

feat(zsh): add new aliases.
  module/zsh/zshrc
Due: none

fix(install): create home-manager folder if not setup.
  install
Due: shfmt

fix(git): make symlink work with pure flake.
  module/git/default.nix
Due: alejandra

feat: remove 'uninstall'.
  .pre-commit-config.yaml
  uninstall
Due: none

feat(install): remove homebrew and nix installers.
  install
Due: shfmt

docs: update README.md.
  README.md
Due: none

chore: remove generated 'unvX.nix'.
  unvX.nix
Due: alejandra

chore: add '.gitignore'.
  .gitignore
Due: none

docs(flake.nix): improve comments.
  flake.nix
Due: alejandra

chore: remove '.gitignore' for unvX.nix.
  .gitignore
  unvX.nix
Due: alejandra

feat(raycast): update 'raycast.rayconfig'.
  module/homebrew/app/raycast/raycast.rayconfig
Due: none

feat: add deno module.
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
  module/deno/default.nix
Due: alejandra

feat(vim): remove line wrapping.
  module/vim/vimrc
Due: none

feat(skhd): add a new yabai alias for resizing ultrawide.
  module/skhd/skhdrc
Due: none

feat(yabai): change default padding for ultrawide.
  module/yabai/yabairc
Due: none

test(pre-commit): make shfmt match all shell shebangs.
  .pre-commit-config.yaml
Due: none

style(yabai): format '.yabairc'.
  module/yabai/yabairc
Due: none

fix(starship): add a space for 'aws'.
  module/starship/starship.toml
Due: none

fix(starship): remove spaces.
  module/starship/starship.toml
Due: none

chore(flake): update 'flake.lock'.
  flake.lock
Due: none

style(vim): remove useless new line.
  module/vim/vimrc
Due: none
