Repository pabroux/unvX: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, stylua

alejandra:
  name: Alejandra (Nix formatter)
  description: This hook checks Nix files with Alejandra.
  entry: bash -c 'nix-shell -p alejandra --run "alejandra -q ${@}"' --
  language: system

stylua:
  name: Stylua (Lua formatter)
  description: This hook checks Lua files with Stylua.
  entry: bash -c 'nix-shell -p stylua --run "stylua ${@}"' --
  language: system

style(install): double quote some variables.
  install
Due: none

test(pre-commit): fix stylua and alejandra for multiple files.
  .pre-commit-config.yaml
Due: none

style(neovim): rename keymaps.lua into keybinds.lua.
  module/neovim/core/keybinds.lua
Due: stylua

feat(neovim): add plenary and smart-splits plugins.
  module/neovim/plugins/specs/plenary.lua
  module/neovim/plugins/specs/smart-splits.lua
Due: stylua

style(neovim): clean lazy import.
  module/neovim/plugins/lazy.lua
Due: stylua

style(neovim): rename a file to import.
  module/neovim/core/init.lua
Due: stylua

fix(neovim): create symlinks automatically.
  module/neovim/default.nix
Due: alejandra

docs(README): change the note.
  README.md
Due: none

feat(tmux): add zoom flag.
  module/tmux/tmux.conf
Due: none

feat(tmux): change key bindings.
  module/tmux/tmux.conf
Due: none

feat(neovim): change smart-splits key bindings.
  module/neovim/plugins/specs/smart-splits.lua
Due: stylua

feat(zsh): add alias for zsh nix-shell.
  module/zsh/.zshrc
Due: none

refactor(tmux): use hex color instead of xterm number.
  module/tmux/tmux.conf
Due: none

fix: set install activations after 'installPackages' event.
  module/homebrew/default.nix
  module/neovim/default.nix
  module/vim/default.nix
Due: alejandra

docs(README): update README.md.
  README.md
Due: none

docs(README): add a link to Nix flakes.
  README.md
Due: none

docs: update README.md.
  README.md
Due: none

docs(README): remove a link.
  README.md
Due: none

feat(git): add an alias.
  module/git/gitconfig
Due: none

test(pre-commit): add gitleaks.
  .pre-commit-config.yaml
Due: none

fix(git): change credentials.
  module/git/gitconfig
Due: none

docs(README): update github links.
  README.md
Due: none

feat(git): add git-filter-repo.
  module/git/default.nix
Due: alejandra

test(pre-commit): add shfmt.
  .pre-commit-config.yaml
Due: none

test(pre-commit): clean the pre-commit file.
  .pre-commit-config.yaml
Due: none

style(install): format with shfmt.
  install
Due: none

feat: add github-cli module.
  host/macbook/home.nix
  module/github-cli/config.yml
  module/github-cli/default.nix
  module/github-cli/hosts.yml
Due: alejandra

feat(zsh): add an alias for nix garbage collector.
  module/zsh/.zshrc
Due: none

refactor(neovim): use recursive nix attribute.
  module/neovim/default.nix
  module/neovim/lua/core/init.lua
  module/neovim/lua/core/keybinds.lua
  module/neovim/lua/core/options.lua
  module/neovim/lua/plugins/init.lua
  module/neovim/lua/plugins/lazy.lua
  module/neovim/lua/plugins/specs/plenary.lua
  module/neovim/lua/plugins/specs/smart-splits.lua
Due: alejandra, stylua

style: apply a format to keys in home.file.
  module/git/default.nix
  module/homebrew/app/ghostty/default.nix
  module/skhd/default.nix
  module/starship/default.nix
  module/tmux/default.nix
  module/vim/default.nix
  module/yabai/default.nix
  module/zsh/default.nix
Due: alejandra

feat: turn unvX into nix flakes.
  flake.lock
  flake.nix
  host/Sulfyderz-MacBook-Pro/user/sulfyderz/home.nix
Due: alejandra

feat(pre-commit): use 'nix shell' instead of 'nix-shell'.
  .pre-commit-config.yaml
Due: none

refactor(flake): clean the flakes.
  flake.lock
  flake.nix
Due: alejandra

fix: make symlinks work with pure flake.
  flake.nix
  module/github-cli/default.nix
  module/homebrew/app/ghostty/default.nix
  module/neovim/default.nix
  module/skhd/default.nix
  module/starship/default.nix
  module/tmux/default.nix
  module/tmux/tmux.conf
  module/vim/default.nix
  module/yabai/default.nix
  module/zsh/default.nix
  module/zsh/zshrc
  uninstall
  unvX.nix
Due: alejandra

style: remove consecutive empty lines.
  module/homebrew/app/ghostty/config
  module/skhd/skhdrc
  module/starship/starship.toml
  module/yabai/yabairc
Due: none

feat(pre-commit): apply 'shfmt' also on 'uninstall'.
  .pre-commit-config.yaml
Due: none

chore(flake): update.
  flake.lock
Due: none

chore(flake): make better comments.
  flake.nix
Due: alejandra

Path conditions:
  alejandra: any of: \.nix$
  stylua: any of: \.lua$
